.container {
    border: 1px solid black;
    display: flex;
    height: 150px;
    width: 600px;
    justify-content: space-between;
    align-items: center
}

.content {
    display: flex;
    justify-content: space-between;
    ;
}

p {
    margin: 15px
}

.delete {
    width: 100px;
    text-align: center;
    height: 50px;
    font-size: 16px;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    outline: transparent;
}

